@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@{

}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>The server utc time is @(DateTime.UtcNow.ToString("dd MMM yyyy, hh:mm:sstt")).</p>
  <p>
This page has been loaded @(IndexModel.TotalPageLoads) times.
  </p>
</div>
